@{
    ViewData["Title"] = "Yetkisiz Erisim";
    Layout = "~/Views/Shared/_Error.cshtml";
}

<style>
    body{
        background: linear-gradient(135deg, #3b82f6, #1e3a8a);
    }
</style>

<h1>403</h1>
<h2>Erişim Reddedildi</h2>
<p>Bu sayfaya erişim yetkiniz yok. Lütfen ana sayfaya geri dönün veya yöneticinizle iletişime geçin.</p>
