
@{
    ViewData["Title"] = "Sayfa Bulunamadı";
    Layout = "~/Views/Shared/_Error.cshtml";
}


<style>
    body {
        background: linear-gradient(135deg, #8b5cf6, #6d28d9);
    }
</style>

<h1>404</h1>
<h2>Sayfa Bulunamadı</h2>
<p>Üzgünüz, aradığınız sayfa mevcut değil.</p>
