@model SpaMerkeziSablon.Models.UserRegisterViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/login.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Admin SignUp</title>
</head>
<body>

    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <!-- Icon -->
            <form asp-action="SignUp" method="post">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <input asp-for="name" type="text" class="form-control" placeholder="Tam Ad" required />
                    <span asp-validation-for="name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="mail" type="email" class="form-control" placeholder="E-mail" required />
                    <span asp-validation-for="mail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="UserName" type="text" class="form-control" placeholder="Kullanıcı Adı" required />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Password" type="password" class="form-control" placeholder="Sifre" required />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="ConfirmPassword" type="password" class="form-control mb-3" placeholder="Sifre Tekrarı" required />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <p class="mx-5" style="text-align:center; color:red;"> Sifrede en az: 1 küçük harf, 1 büyük harf, 1 özel karekter, 1 tane rakam olmalı ve sifre uzunuluğu en az 6 karekter olmalıdır.</p>
                </div>
                <button type="submit" class="btn btn-primary">Kayıt Ol</button>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </form>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>
