
@model IEnumerable<Service>

@foreach (var item in Model)
{
    <div class="px-3 col-lg-3 col-md-4 col-sm-12">
        <div class="post-preview ">
            <div class="align-items-center">
                <a href="~/Service/ServiceDetails/@item.ServiceID">
                    <img style="height:200px;width:100%; object-fit:cover;" src="~/uploads/@item.ImgUrl" />
                </a>
                <div class="mt-4">
                    <div style="max-height: 130px; min-height: 130px; overflow-y: auto;">
                        <h2 class="post-title text-center">@item.ServiceName</h2>
                        @if (item.ServiceDescription != null && item.ServiceDescription.Length > 100)
                        {
                            <h3 class="post-subtitle">@item.ServiceDescription.Substring(0, 100) ...</h3>

                        }
                        else
                        {
                            <h3 class="post-subtitle">@item.ServiceDescription</h3>
                        }
                    </div>
                    <p class="post-meta mb-0" style="text-align:end;">
                        @item.ServiceDate.ToString("dd MMMM yyyy HH:ss")'de yayınlandı
                    </p>
                </div>
            </div>
        </div>
    </div>
}
