@model EntityLayer.Concrete.Service
@{
    ViewData["Title"] = "DestinationDetails";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<div class="row w-100 d-flex justify-content-center mb-3">
    <div class="col-sm-5 mt-3">
        <div class="card">
            <div class="card-body">
                <img class="w-100" sty=ServicDetailsImage src="~/uploads/@Model.ImgUrl" />
            </div>
        </div>
    </div>
    <div class="col-sm-5 mt-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">@Model.ServiceName</h5>
                <p class="card-text">@Html.Raw(Model.ServiceDetails)</p>
            </div>
        </div>
    </div>
</div>
@await Component.InvokeAsync("_RezervasyonButton")
