<ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item">
        <a href="/AdminLogin/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-street-view"></i>
            <div data-i18n="Analytics">Admin Bilgileri</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/AdminDashboard/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Ana Sayfa</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/AdminAbout/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-info-circle"></i>
            <div data-i18n="Analytics">Hakkımızda</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/AdminService/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-file"></i>
            <div data-i18n="Analytics">Hizmetler</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/AdminBlog/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-file"></i>
            <div data-i18n="Analytics">Blog</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/AdminGalary/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-image"></i>
            <div data-i18n="Analytics">Galery</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/AdminContact/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-contact"></i>
            <div data-i18n="Analytics">İletişim Bilgileri</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/AdminMessage/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-message-alt-detail"></i>
            <div data-i18n="Analytics">Mesajlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/AdminLink/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-send"></i>
            <div data-i18n="Analytics">Linkler</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Default/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-exit"></i>
            <div data-i18n="Analytics">Siteye Git</div>
        </a>
    </li>
    <li class="menu-item">
        <form asp-action="Logout" asp-controller="AdminLogin" method="post" class="form-inline">
            <button type="submit" class="btn btn-danger d-flex mx-auto">Çıkış Yap</button>
        </form>
    </li>

</ul>