@model Contact
@{
    ViewData["Title"] = "AddContact";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>İletişim Bilgisi Ekle</h1>


<form asp-action="AddContact" asp-controller="AdminContact" method="post">
    <div class="form-group">
        @Html.Label("Adres")
        <input type="text" asp-for="Adres" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Telefon Numarası")
        <input type="text" asp-for="Phone" placeholder="90 *** *** ** **" class="form-control" />
    </div>
    <br />

    <div class="form-group">
        @Html.Label("E-Mail Adresi")
        <input type="text" asp-for="Mail" class="form-control" />
    </div>
    <br />
    <br />
    <br />

    <button class="btn btn-outline-warning" onclick="alert('İletişim Bilgisi Eklendi');">Kaydet</button>
</form>