
@model IEnumerable<Blog>

@foreach (var item in Model)
{
    <div class="px-3 col-lg-3 col-md-4 col-sm-12">
        <div class="post-preview ">
            <div class="align-items-center">
                <a href="~/Blog/Post/@item.Id">
                    <img style="height:200px;width:100%; object-fit:cover;" src="~/blogImage/@item.ImagePath" />
                </a>
                <div class="mt-4">
                    <div style="max-height: 130px; min-height: 130px; overflow-y: auto;">
                        <h2 class="post-title text-center">@item.Title</h2>
                        @if (item.SubTitle != null && item.SubTitle.Length > 100)
                        {
                            <h3 class="post-subtitle">@item.SubTitle.Substring(0, 100) ...</h3>

                        }
                        else
                        {
                            <h3 class="post-subtitle">@item.SubTitle</h3>
                        }
                    </div>
                    <p class="post-meta mb-0" style="text-align:end;">
                        @item.Created.ToString("dd MMMM yyyy HH:ss")'de yayınlandı
                    </p>
                </div>
            </div>
        </div>
    </div>
}
