@model Link
@{
    ViewData["Title"] = "CreateLink";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Link Oluşturma Sayfası</h1>

<form asp-action="CreateLink" asp-controller="AdminLink" method="post">
    <div class="form-group">
        @Html.Label("Link Üzerindeki Yazı")
        <input type="text" asp-for="LinlName" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Linkin Adresi")
        <input type="text" asp-for="LinlUrl" placeholder="https://..." class="form-control" />
    </div>
    <br />
    <br />
    <br />

    <button class="btn btn-outline-success">Oluştur</button>
</form>

